<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

    
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Where.YaharaEmployeeStatusService">
        <endpoint address="" binding="webHttpBinding"
            contract="Where.IYaharaEmployeeStatusService" behaviorConfiguration="web" bindingConfiguration="webHttpBindingWithJsonP"/>
      </service>
    </services>

  </system.serviceModel>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".manifest"      mimeType="text/cache-manifest" />
    </staticContent>
  </system.webServer>
  
</configuration>