<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="refreshDataFromOutlook" value="10"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<identity impersonate="true" userName="xps8300/atul" password="neha"/>-->
    <authentication mode="None"/>

    <!--<caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheForXSeconds" duration="1800" varyByParam="date"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>-->
    
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Where.YaharaEmployeeStatusService">
        <endpoint address="" binding="webHttpBinding"
            contract="Where.IYaharaEmployeeStatusService" behaviorConfiguration="web" bindingConfiguration="webHttpBindingWithJsonP"/>
      </service>
    </services>

  </system.serviceModel>
 <system.webServer>
   <directoryBrowse enabled="true" />   
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
  </system.webServer>


  <connectionStrings>
    <add name="SchedulingEntities" connectionString="metadata=res://*/Scheduling.csdl|res://*/Scheduling.ssdl|res://*/Scheduling.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YAHARASQL\YAHARASQL2005;Initial Catalog=ResourceScheduler;Persist Security Info=True;User ID=sa;Password=bondjame$bond;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
