<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Yahara.Standup.YaharaEmployeeStatusService">
        <endpoint address="http://10.111.124.47:8000/YaharaEmployeeStatusService"
          binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP"
          contract="Yahara.Standup.IYaharaEmployeeStatusService" />
      </service>
    </services>
    <behaviors>
      <!--<serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>-->
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  
</configuration>
