<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Yahara.Standup.YaharaEmployeeStatusService">
        <endpoint address="http://standup.yaharasoftware.com/YaharaEmployeeStatusService"
          binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP"
          contract="Yahara.Standup.IYaharaEmployeeStatusService" />
      </service>
    </services>
    <behaviors>
      <!--<serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>-->
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <connectionStrings>
    <add name="SchedulingEntities" connectionString="metadata=res://*/Scheduling.csdl|res://*/Scheduling.ssdl|res://*/Scheduling.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YAHARASQL\YAHARASQL2005;Initial Catalog=ResourceScheduler;Persist Security Info=True;User ID=sa;Password=bondjame$bond;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
